@charset "utf-8";
/* Common Rules */
body {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:13px;
	line-height:1.4em;
	color:#333;
	min-width:950px;
	position:relative;
}
#background {
	position:fixed;
	left:0px;
	top:0px;
	display:none;
	overflow:hidden;
}
p { margin:10px 0px; }

h1, h2, h3, h4, h5, h6 { margin:0px 0px 10px; }
h5 { text-transform:uppercase }
img { border:none }
a {
	text-decoration:none;
	color:#33b7fe;
	border:none;
	outline:none;
}
ul, ol {
	margin:1.4em 0;
	padding:0 0 0 15px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
/*----------Headings----------- */
h2.heading {
	font-size:28px;
	color:#333;
	margin-bottom:20px;
}
h3.inner-heading {
	color:#555;
	margin-top:10px;
	margin-bottom:10px;
	font-size:24px;
	font-weight:normal;
}
/*----------Logo----------- */
#logo {
	width:900px;
	height:110px;
	background:url(../images/layouts/logo.png) no-repeat left;
	position:absolute;
	top:30px;
	left:50%;
	margin-left:-450px;
}
/*----------Menu----------- */
#menu {
	width:100%;
	height:40px;
	background:url(../images/layouts/bg-80.png) repeat;
	color:#fff;
	position:absolute;
	left:0;
	margin-left:0px;
	top:180px;
	text-align:center;
	z-index:6;
}
.menu-link {
	color:#fff;
	font-size:18px;
	font-weight:bold;
	display:inline-block;
	line-height:40px;
	padding:0 20px;
	position:relative;
	margin:0 5px;

}
.link-bg {
	width:100%;
	height:40px;
	background:#000;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	display:none;
}
.menu-link a {
	color:#fff;
	display:block;
	position:relative;
	z-index:2;
}
.submenu {
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
	position:absolute;
	top:40px;
	left:0px;
	background:url(../images/layouts/bg-80.png) repeat;
	z-index:3;
	border-top:1px solid #000;
	-moz-box-shadow: 0 2px 4px #000;
	-webkit-box-shadow: 0 2px 4px #000;
	box-shadow: 0 2px 4px #000;
	display:none;
}
.submenu li {
	position:relative;
}
.submenu a {
	display: block;
	padding: 0 20px;
    width: 160px;
	font-weight:normal;
}
/*----------Footer----------- */
#footer {
	position:absolute;
	width:100%;
	height:50px;
	line-height:50px;
	color:#fff;
	margin-left:0;
	top:800px;
	left:0;
	padding:0;
	background:url(../images/layouts/bg-80.png) repeat;
	z-index:2
}
.social-links {
	position:absolute;	
	right:40px;
	top:10px;
}
.social-links a {
	margin-left:5px;
	opacity:0.3;
	filter:alpha(opacity=50);
	display:block;
	float:left;
	width:30px;
	height:30px;
}
.copyright {
	padding-left:20px;
}
/*----------Content Loader----------- */
#dark-layer {
	background:#000;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	color:#fff;
	z-index:30000;
	display:none;
	opacity:0.8;
	filter:alpha(opacity=80);
}
.loader-content {
	background:none;
	border:1px solid #fff;
	position:absolute;
	z-index:30001;
	color:#fff;
	display:none;
	text-align:center;
	font-size:18px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;	
}
.ajax-loader {
	width:32px;
	height:32px;
	position:absolute;
	background:url(../images/ajax-loader.gif) no-repeat;
	left:50%;
	margin-left:-16px;
	display:none;
	z-index:30002
}
/*----------Content----------- */
#content {
	width:900px;
	position:absolute;
	margin-left:-450px;
	left:50%;
	top:260px;
	display:none;
}
.content-bg {
	background:url(../images/layouts/w-90.png) repeat;
	padding:40px;
}
/*----------Layout Grid----------- */
.one-half {
	float:left;
	width:400px;
	margin-right:20px;
}
.one-third {
	width:260px;
	float:left;
	margin-right:20px;
}
.two-third {
	width:540px;
	float:left;
	margin-right:20px;
}
.one-fourth {
	width:190px;
	float:left;
	margin-right:20px;
}
.two-fourth {
	width:400px;
	float:left;
	margin-right:20px;
}
.three-fourth {
	width:610px;
	float:left;
	margin-right:20px;
}
.one-half.last, .one-third.last, .two-third.last ,.one-fourth.last,.two-fourth.last,.three-fourth.last {
	margin-right:0;
}
/*----------Blog----------- */
.blog-post {
	margin-top:10px;
	margin-bottom:30px;
}
h3.blog-title {
	color:#555;
	font-size:22px;
	font-weight:normal;	
}
.post-info {
	margin:10px 0;
	color:#555;
	font-size:12px;
	font-weight:bold;
	line-height:20px;	
	overflow:hidden;
}
.post-info a {
	color:#555;
}
.post-info a:hover {
	color:#33b7fe
}
.post-info span {
	display:block;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
.b-comments {
	background:url(../images/blog/comments.png) no-repeat left;
	padding-left:25px;
}
.b-date {
	background:url(../images/blog/date.png) no-repeat left;
	padding-left:25px;
}	
.b-tags {
	background:url(../images/blog/tags.png) no-repeat left;
	padding-left:25px;
}
img.avatar {
	float:left;
	width:50px;
	margin-right:20px;
	border:2px solid #fff;
	-moz-box-shadow:0px 0px 2px #333;
	-webkit-box-shadow:0px 0px 2px #333;
	box-shadow:0px 0px 2px #333;
}
.comments {
	margin:20px 0;
}
.comment {
	border-bottom: 1px dotted #aaa;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 10px;
}
.comment-content {
	float:left;
	width:740px;
}
.comment .author {
	line-height:20px;
	color:#555;
}
.c-date {
	font-size: 13px;
    font-style: italic;
    font-weight: normal;
}
.pagination {
	line-height: 25px;
}
.pagination span {
	font-style:italic;
}
.pagination a {
	display: inline-block;
	border:1px solid #fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow:0px 0px 1px #333;
	-webkit-box-shadow:0px 0px 1px #333;
	box-shadow:0px 0px 1px #333;
	height: 24px;
    text-align: center;
    width: 25px;
	color: #FFFFFF;
	background:#0d79b2;
}
.pagination a:hover {
	background:#33B7FE;
}
.pagination a.active-page {
	background:#33B7FE;
	-moz-box-shadow:0px 0px 0px #333;
	-webkit-box-shadow:0px 0px 0px #333;
	box-shadow:0px 0px 0px #333;
}
/*---------- Portfolio ----------- */
#portfolio {
	width:900px;
	position:absolute;
	margin-left:-450px;
	left:50%;
	top:260px;
	display:none;
	color:#fff;
}
.folio-item.f-third {
	width:250px;
	float:left;
	background:url(../images/layouts/bg-80.png) repeat;
	margin-right:15px;
	color:#fff;
	padding:20px;
	display:none;
	margin-bottom:20px;
}
.folio-item.f-half {
	width:400px;
	float:left;
	background:url(../images/layouts/bg-80.png) repeat;
	margin-right:20px;
	color:#fff;
	padding:20px;
	display:none;
	margin-bottom:20px;
}
.folio-item.f-full {
	width:860px;
	background:url(../images/layouts/bg-80.png) repeat;
	margin-right:20px;
	color:#fff;
	padding:20px;
	display:none;
	margin-bottom:20px;
}
.folio-item.last {
	margin-right:0
}
.folio-title {
	font-size:22px;
}
/*---------- Portfolio Project ----------- */
.pr-heading {
	font-size:28px;
	color:#333;
	margin-bottom:20px;
	line-height:40px;
	background:#33B7FE;
	display:inline-block;
	padding:0px 20px;
}
.clickPhoto {
	display:none;
}
.pr-description {
	background:url(../images/layouts/bg-80.png) repeat;
	padding:40px;
	margin-bottom:20px;
	display:none;
	width:820px;
	position:relative;
}
.pr-images {
	width:950px;
	background:url(../images/layouts/bg-80.png) repeat;
	overflow:hidden;
	padding:20px;
	margin-left:-45px;
	display:none;
	position:relative;
}
.pr-images a {
	display:block;
	float:left;
	margin-right:7px;
	margin-bottom:5px;
	margin-top:5px;
	border:1px solid #ddd;
	visibility:hidden;
}
.pr-images img {
	display:block;
}
.image-loader {
	width:32px;
	height:32px;
	background:url(../images/ajax-loader.gif) no-repeat;
	display:none;
	left:50%;
	margin-left:-16px;
	top:50%;
	margin-top:-16px;
	position:absolute;	
}
.full-image {
	display:none;
}
.full-image img {
	position:absolute;
	border:1px solid #ccc;
	left:40px;
	top:40px;
}
h2.image-title {
	background:url(../images/layouts/bg-80.png) repeat;
	color:#fff;
	display:none;
	position:absolute;
	top:100px;
	left:40px;
	font-size:26px;
	line-height:40px;
	height:40px;
	padding:0px 30px;
	font-weight:normal;
	
}
.prev-image {
	display:none;
	position:absolute;
	width:40px;
	height:40px;
	top:50%;
	margin-top:-20px;
	cursor:pointer;
	left:40px;
	z-index:4;
	background:url(../images/layouts/sl-control.png) right top no-repeat;
}
.next-image {
	display:none;
	position:absolute;
	cursor:pointer;
	width:40px;
	height:40px;
	top:50%;
	margin-top:-20px;
	right:40px;
	z-index:4;
	background:url(../images/layouts/sl-control.png) left bottom no-repeat;
}
.image-controls {
	background:url(../images/layouts/bg-80.png) repeat;
	height:40px;
	position:absolute;
	left:40px;
	top:50px;
	padding:0px 30px;
	display:none;
}
.full-size {
	background:url(../images/layouts/full-size.png) no-repeat left;
	padding-left:25px;
	margin-top:10px;
	line-height:20px;
	display:block;
	height:20px;
	font-size:12px;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	margin-right:10px;
	float:left;
}
.fit-screen {
	background:url(../images/layouts/fit-screen.png) no-repeat left;
	padding-left:25px;
	margin-top:10px;
	line-height:20px;
	display:block;
	height:20px;
	font-size:12px;
	color:#fff;
	cursor:pointer;
	font-weight:bold;
	margin-right:10px;
	float:left;
}
.fb-link {
	display:block;
	float:left;
	margin-top:10px;
	width:120px;
}
.tw-link {
	display:block;
	float:left;
	margin-top:10px;
}
/*----------Flickr Gallery----------- */
.fl-title {
	color:#fff;
	font-size:28px;
	line-height:40px;
	margin-bottom:20px;
	padding:0px 20px;
	background:#33B7FE;
	display:inline-block;
	margin-left:40px;
	margin-top:40px;
}
#flickr {
	position:absolute;
	left:0px;
	top:0px;
	z-index:31000;
	display:none;
	width:100%;
}
.fl-photos {
	margin-left:40px;
	
}
.fl-photo {
	display:inline-block;
	margin:0px 10px 10px 0;
	border:1px solid #fff;	
	-o-transform:scale(0) rotate(90deg);
}
.fl-photo img {
	display:block;
}
.fl-pTitle {
	color: #FFFFFF;
    font-size: 28px;
    left: 320px;
    line-height: 40px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
	background:url(../images/layouts/bg-80.png) repeat;
	display:none;
}
.fl-pFull {
    left: 300px;
    position: absolute;
    top: 100px;
	display:none;
	background:url(../images/layouts/w-90.png) repeat;
	padding:20px;
}
.fl-pDescr {
	color:#fff;
	background:url(../images/layouts/bg-50.png) repeat;
	padding:10px 20px;
	position:absolute;
	left:320px;
	top:180px;
	display:none;
	max-width:900px;

}
.fl-nav {
	background:url(../images/layouts/bg-80.png) repeat;
	line-height:40px;
	padding:5px 20px;
	margin-top:5px;
	font-size:12px;
	display:block;
	float:right;
	height:20px;
	line-height:20px;
}
.fl-nav a {
	color:#fff;
	float:left;
	margin-right:5px;
}
.fl-nav img {
	float:left;
}
/*---------- Forms ----------- */
.button,.button-s {
	background: #33b7fe;
	border: medium none;
	color: #fff;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	cursor:pointer;
	outline:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.button:hover,.button-s:hover { background:#0d79b2; }
.button-s {
	height: 25px;
	line-height: 25px;
}

div.sendEmail {
	height:40px;
	text-align:center;
	margin-bottom:1.4em;
}
.message-status {
	display:none;
	line-height:40px;
	text-align:left;
}
.contact-status {
	display:none;
	text-align:center;
	padding:30px 0px;
}
input.text, textarea.textarea {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-color: #bbb #bbb #ddd;
    border-style: solid;
    border-width: 1px;
	color: #333;
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	width: 320px;
}
input.required, textarea.required { border-color:red; }
/*---------- Popup Window ----------- */
#popup {
	z-index:40000;
	position:absolute;
	top:0;
	left:0;
	padding:10px;
	display:none;
}
.p-title {
	display:none;
	text-align:center;
	font-size:22px;
	margin-top:10px;
	font-weight:bold;
	color:#555;
}
.popup-content {
	background:#fff;
	padding:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.close-popup {
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
	width:32px;
	height:32px;
	background:url(../images/layouts/close-popup.png) no-repeat;
	display:none;
}
/*---------- Ajax-Loader ----------- */
.ajax-loader-2 {
	position:fixed;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) center no-repeat;
	width:32px;
	height:32px;
	padding:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ccc;
	margin-left:-26px;
	display:none;
	top:50%;
	margin-top:-26px;
	z-index:32000;
}
/*---------- Slider ----------- */
#slide-prev {
	position:absolute;
	width:50px;
	height:40px;
	background:#000;
	top:250px;
	left:-10px;
	z-index:4;
	background:url(../images/layouts/sl-control.png) left top no-repeat;
}
#slide-next {
	position:absolute;
	width:50px;
	height:40px;
	background:#000;
	top:250px;
	right:-10px;
	z-index:4;
	background:url(../images/layouts/sl-control.png) left bottom no-repeat;
}
.slider {
	position:absolute;
	left:50%;
	margin-left:-450px;
	width:900px;
	height:500px;
	top:260px;
	display:block;
}
.s-shadow-t{
	background:url(../images/layouts/sl-top.png) no-repeat top;
	width:900px;
	height:74px;
	position:absolute;
	left:0px;
	top:-70px;
	z-index:1;
}
.s-shadow-b{
	background:url(../images/layouts/sl-bot.png) no-repeat top;
	width:900px;
	height:90px;
	position:absolute;
	left:0px;
	bottom:-90px;
	z-index:1;
}
#slider {
	width:900px;
	height:500px;
	position:relative;
	z-index:2
}
.slide { display:none; }
.slide.activeSlide { display:block; }
.dummy-blocks { position:relative; }
#slide-loader .dummy-last {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
}
.slide-descriptions {
	display:none;
}
.slide-descr {
	background:url(../images/layouts/bg-80.png) repeat;
	height:80px;
	width:860px;
	position:absolute;
	left:-20px;
	bottom:20px;
	z-index:3;
	color:#fff;
	padding:20px 40px;
}
.slide-title {
	font-weight:bold;
	font-size:18px;
}
.slide-col {
	float:left;
	margin-right:10px;
}
/*---------- Twitter Feed ----------- */
.openTwitter {
	background:url(../images/layouts/tw.png) no-repeat;
	display: block;
    height: 46px;
    left: 50%;
    margin-left: 410px;
    position: absolute;
    top: -3px;
    width: 40px;
	cursor:pointer;
}
.tweets {
	position:absolute;
	left:50%;
	top:50px;
	color:#fff;
	background:url(../images/layouts/bg-80.png) repeat left top;
	padding:30px;
	z-index:6;
	display:none;
	overflow:hidden;
}
#tweets {
	margin:0px;
	color:#fff;
	list-style:none;
	width:400px;
	padding:0px;
}
.close-tweets {
	background:url(../images/layouts/close-flickr.png) no-repeat;
	cursor: pointer;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
}
.tweet-uname {
	margin-top:0px;
	font-size:22px;
}
.tweet-text { margin:0; }
.tweet-date {
	font-size:12px;
	font-weight:bold;
	text-align:right;
	margin-bottom:5px;
	color:#ccc
}
.single-tweet {
	border-bottom:1px dotted #000;
	margin-bottom:5px;
}
