@charset "utf-8";
/* Common Rules */
.button {
	margin-right:0px;
}
input#email {
	width:280px;
}
/*---------- Popup Window ----------- */
.dark-layer {
	width:100%;
}
/*---------- Will Open Fix ----------- */
.will-open {
	margin-left:-100px;
}
/*---------- Glass Cock Fix ----------- */
.days {
	margin-left:5px;
}
.minutes {
	margin-right:33px;
}