@charset "utf-8";
/* CSS Document */
/* --- Common Rules --- */
body {
	background:#649fee url(../images/layouts-fancy/bg.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:13px;
	line-height:1.4em;
	color:#333;
	min-width:900px;
	position:relative;
}
#background {
	background:url(../images/layouts-fancy/bg.jpg) no-repeat top;
	height: 500px;
    min-width: 910px;
    position: absolute;
    top: 0;
    width: 100%;
}
#wrapper {
	width:800px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-top:250px;
}
.clear {
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
	width:0;
}
.clearfix:after {
	clear:both;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
	width:0;
}
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* --- Typography --- */
p { margin:1.3em 0; }
.color1 { color:#ff8d00!important; font-weight:bold; }
.color2 { color:#4bab00!important; font-weight:bold;}
h2.window-heading {
	font-size:30px;
	margin-bottom:20px;
	margin-top:0px;
	line-height:27px;
	font-weight:bold;
	border-bottom:1px dotted;
}
h3.inner-heading {
	font-weight:bold;
	font-size:28px;
	line-height:25px;
	margin:17px 0;
}
.inner-heading.normal { font-weight:normal; }
h1, h2, h3, h4, h5 {
	margin:16px 0;
	line-height:100%;
}
h1 { font-size:26px; }
h2 { font-size: 20px; }
h3 { font-size: 15px; }
h4 { font-size: 13px; }
h5 { font-size:12px;text-transform:uppercase;}
img {
	border:none;
	outline:none;
}
a {
	text-decoration:none;
	color:#ff8d00;
	outline:none;
}
ul, ol {
	margin:1.3em 0;
	padding:0 0 0 20px;
}
.dropcap {
	display: block;
	float: left;
	font-size: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0 10px 4px 0;
}
.inset-right {
	border: 1px dotted;
	display: block;
	float: right;
	margin: 20px 0 12px 20px;
	padding: 10px;
	width: 200px;
	font-style:italic
}
.inset-left {
	border: 1px dotted;
	display: block;
	float: left;
	margin: 20px 20px 12px 0;
	padding: 10px;
	width: 200px;
	font-style:italic
}
/* --- Content Section --- */
.content-section {
	position:relative;
	background:url(../images/layouts-fancy/content-dark.png) no-repeat bottom;
	padding-bottom:30px;
	overflow:visible!important;
}
/* --- Tooltip --- */
#tooltip {
	position:absolute;
	left:0px;
	top:0px;
	max-width:300px;
	background:orange;
	border:1px solid #fff;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	padding:5px 20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	opacity:0.8;
	filter:alpha(opacity=80);
	display:none;
}
.tip { display:none; }
/* --- Toolbar --- */
#toolbar {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	background:url(../images/layouts-fancy/toolbar-bg.png) no-repeat center;
}
.toolbar-icon {
	width:80px;
	height:80px;
	float:left;
	margin:0px 10px 10px;
	background:url(../images/layouts-fancy/toolbar-icon.png) no-repeat center;
	position:relative;
	text-align:center;
	vertical-align:auto;
	font-weight:normal;
	font-size:13px;
}
.toolbar-icon.noBG { background:none; }
.toolbar-icon a {
	display: block;
	padding:5px;
	position:absolute;
	left:0;
	top:0;
	width:70px;
	color:#333;
}
.toolbar-icon.noBG a {
	padding:0px;
	width:100px;
}
.icon-reflect {
	display:block;
	width:80px;
	background:url(../images/layouts-fancy/toolbar-ref.png) no-repeat left top;
	height:20px;
	top:82px;
	left:0px;
	position:absolute;
}
/* --- Bottom Content --- */
#bottom-content {
	background:url(../images/layouts-fancy/bottom-lines.png) no-repeat top;
	position:relative;
	padding-top:70px;
	top:-50px;
}
.bottom-pane {
	background:url(../images/layouts-fancy/bottom-pane.jpg) no-repeat bottom;
	width:920px;
	height:192px;
	position:absolute;
	bottom:-180px;
	left:-60px;
	z-index:-1;
}
/* --- Bottom Modules --- */
.module {
	background:url(../images/layouts-fancy/white-80.png) repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:20px;
	float:left;
	width:220px;
	min-height:100px;
	position:relative;
}
.module.noBG { background:none; color:#fff }
.module.noBG a{ color:#bc4d04 }
.module.first { margin-right:10px; }
.module.last { margin-left:10px; }
.module-shadow, .module-reflect, .folio-reflect {
	width:260px;
	height:20px;
	left:0px;
	position:absolute;
}
.module-shadow {
	background:url(../images/layouts-fancy/mod-shadow.png) no-repeat bottom;
	bottom:-10px;
}
.module-reflect, .folio-reflect {
	background:url(../images/layouts-fancy/mod-bottom.png) no-repeat bottom;
	bottom:-22px;
}
h3.module-title {
	margin:0 0 16px;
	font-size:20px
}
/* --- Slider --- */
#slider {
	background:url(../images/layouts-fancy/slider-reflect.png) no-repeat bottom;
	padding-bottom:32px;
	position:relative;
	margin-bottom:-20px
}
.slider {
	width:800px;
	height:300px;
	background:url(../images/layouts-fancy/white-80.png) repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
}
.slide {
	overflow:hidden;
	width:720px;
	height:220px;
	display:none;
	padding:40px;
}
.slide.activeSlide { display:block; }
.noPadding {
	width:800px;
	height:300px;
	padding:0px;
}
.dummy-blocks { position:relative; }
#slide-loader .dummy-last,#slide-loader .dummy-first {
		
	
}
#slide-loader .dummy-last {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
}
.slide-next, .slide-prev, #slider .toHome {
	background:url(../images/layouts-fancy/icons.png) no-repeat left top;
	width:30px;
	height:60px;
	position:absolute;
	cursor:pointer;
}
.slide-next {
	left:100%;
	top:200px;
}
.slide-prev {
	left:-30px;
	top:200px;
	background-position:left -60px;
}
#slider .toHome {
	left:-30px;
	top:120px;
	background-position:left -120px;
}
.slide-heading {
	font-size:23px;
	margin:0 0 13px;	
}
/* --- Portfolio --- */
#portfolio { margin-bottom:-10px; }
.folio-wrap {
	height:320px;
	width:800px;
	overflow:hidden;
	position:relative
}
.folio-wrapper {
	width:2000px;
	height:300px;
}
.folio-item {
	background:url(../images/layouts-fancy/white-80.png) repeat;
	width:220px;
	height:260px;
	position:relative;
	left:0px;
	top:0px;
	float:left;
	margin:0px 5px;
	padding:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.folio-left, .folio-right {
	position:absolute;
	top:200px;
	background:url(../images/layouts-fancy/folio-switches.png) no-repeat left top;
	width:30px;
	height:112px;
}
.folio-right { right:-40px; }
.folio-left { left:-40px; }
.folio-next, .folio-prev {
	width:11px;
	height:20px;
	position:absolute;
	cursor:pointer;
	top:12px;
	background:url(../images/layouts-fancy/folio-arrows.png) no-repeat left top;
	left:9px;
}
.folio-next { background-position:right bottom; }
.folio-home {
	background:url(../images/layouts-fancy/folio-home.png) no-repeat;
	width:21px;
	height:19px;
	position:absolute;
	left:5px;
	top:65px;
	cursor:pointer;
}
h3.folio-title {
	margin:0 0 16px;
	font-size:20px
}
/* --- Common Windows Styling --- */
.window {
	min-width:20px;
	min-height:50px;
	width:600px;
	display:none;
	overflow:visible!important;
	position:absolute!important;
	z-index:1000;
}
.w-tbl { padding-left:20px; }
.w-tbr { padding-right:20px; }
.w-tbm {
	height:20px;
	overflow:hidden;
}
.w-tl { padding-left:10px; }
.w-tr { padding-right:10px; }
.w-tm {
	height:10px;
	display:block;
}
.w-ml {
	padding-left:20px;
	min-width:155px;
	overflow:hidden;
	position:static !important;
}
.w-mr {
	padding-right:20px;
	height:100%;
}
.w-mm { height:100%;}
.w-content { padding:30px 20px 20px;}
.w-bl { padding-left:20px; }
.w-br { padding-right:20px; }
.w-bm { height:20px; }
/* --- Window With Image --- */
.window.withImage {
	overflow:visible;
	display:none;
	-o-transition-property:-o-transform;
	-o-transition-duration:1s;
	-o-transform:rotate(0deg);
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-webkit-transform:rotate(0deg);
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s;
	-moz-transform:rotate(0deg);
	transition-property:transform;
	transition-duration:1s;
	transform:rotate(0deg);
	min-width:400px;
}
.withImage .window-image { min-width:380px; }
.withImage .w-mm { background:none; }
.withImage .w-content { padding:10px; }
.withImage .image-title {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	top: 100%;
	font-size: 18px;
	height: 40px;
	left: 50%;
	line-height: 40px;
	margin-left: -200px;
	position: absolute;
	text-align: center;
	width: 400px;
	display:none;
}
/* --- Window Toolbars --- */
/* --- Fancy Toolbar --- */
.toolbar.fancy {
	height: 35px;
	position: absolute;
	right: -12px;
	top: -8px;
	width: 197px;
	cursor:default;
}
.toolbar.fancy .close-icon, .toolbar.fancy .minimize-icon, .toolbar.fancy .expand-icon, .toolbar.fancy .drag-icon, .toolbar.fancy .rotate-ccw-icon, .toolbar.fancy .rotate-cw-icon, .toolbar.fancy .zoom-out-icon, .toolbar.fancy .zoom-in-icon {
	position:absolute;
	width:20px;
	height:20px;
	top:-22px;
	cursor:pointer;
	background-image:url(../images/window-fancy/toolbar-icons-fancy.png);
}
.toolbar.fancy .drag-icon {
	width:45px;
	background-position:-140px;
	right:60px;
	cursor:move;
}
.toolbar.fancy .close-icon {
	right: 10px;
	background-position:-120px top;
}
.toolbar.fancy .minimize-icon { background-position:-100px top; }
.toolbar.fancy .expand-icon { background-position:-80px top; }
.toolbar.fancy .minimize-icon, .fancy .expand-icon { right: 35px; }
.toolbar.fancy .zoom-in-icon {
	right:35px;
	background-position:-60px top;
}
.toolbar.fancy .zoom-out-icon {
	right:60px;
	background-position:-40px top;
}
.toolbar.fancy .rotate-cw-icon {
	right:85px;
	background-position:-20px top;
}
.toolbar.fancy .rotate-ccw-icon {
	right:110px;
	background-position:0px top;
}
.withImage .toolbar.fancy .drag-icon { right:135px; }
.withImage .toolbar { top:-13px!important; }
.toolbar.fancy .zoom-in { right:45px; }
.toolbar.fancy .zoom-out { right:75px; }
.toolbar.fancy .rotate-cw { right:105px; }
.toolbar.fancy .rotate-ccw { right:135px; }
/* --- Ribbon Toolbar --- */
.toolbar.ribbon {
	cursor: default;
	height: 40px;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 180px;
	z-index:100;
}
.toolbar.ribbon .close-icon, .toolbar.ribbon .minimize-icon, .toolbar.ribbon .expand-icon, .toolbar.ribbon .drag-icon, .toolbar.ribbon .rotate-ccw-icon, .toolbar.ribbon .rotate-cw-icon, .toolbar.ribbon .zoom-out-icon, .toolbar.ribbon .zoom-in-icon {
	position:absolute;
	width:20px;
	height:20px;
	top:5px;
	cursor:pointer;
	background-image:url(../images/window-fancy/toolbar-icons-ribbon.png);
}
.toolbar.ribbon .drag-icon {
	width:45px;
	background-position:-140px;
	right:55px;
	cursor:move;
}
.toolbar.ribbon .close-icon {
	right: 5px;
	background-position:-120px top;
}
.toolbar.ribbon .minimize-icon { background-position:-100px top; }
.toolbar.ribbon .expand-icon { background-position:-80px top; }
.toolbar.ribbon .minimize-icon, .ribbon .expand-icon { right: 30px; }
.toolbar.ribbon .zoom-in-icon {
	right:30px;
	background-position:-60px top;
}
.toolbar.ribbon .zoom-out-icon {
	right:55px;
	background-position:-40px top;
}
.toolbar.ribbon .rotate-cw-icon {
	right:80px;
	background-position:-20px top;
}
.toolbar.ribbon .rotate-ccw-icon {
	right:105px;
	background-position:0px top;
}
.withImage .toolbar.ribbon .drag-icon { right:130px; }
.withImage .toolbar.ribbon {
	top:-13px!important;
	right:-10px;
}
.toolbar.ribbon .zoom-in { right:40px; }
.toolbar.ribbon .zoom-out { right:70px; }
.toolbar.ribbon .rotate-cw { right:100px; }
.toolbar.ribbon .rotate-ccw { right:130px; }
/* --- OS Toolbar --- */
.t-os-l {
	height: 30px;
	left: 5px;
	padding-left: 10px;
	position: absolute;
	top: -15px;
	width: 100%;
}
.t-os-r {
	height: 30px;
	margin-right: 20px;
	padding-right: 10px;
}
.toolbar.os {
	cursor: default;
	height: 30px;
	position:relative;
}
.toolbar.os .close-icon, .toolbar.os .minimize-icon, .toolbar.os .expand-icon, .toolbar.os .drag-icon, .toolbar.os .rotate-ccw-icon, .toolbar.os .rotate-cw-icon, .toolbar.os .zoom-out-icon, .toolbar.os .zoom-in-icon {
	position:absolute;
	width:20px;
	height:20px;
	top:5px;
	cursor:pointer;
	background-image:url(../images/window-fancy/toolbar-icons-os.png);
}
.window.black .toolbar.os .close-icon, .window.black .toolbar.os .minimize-icon, .window.black .toolbar.os .expand-icon, .window.black .toolbar.os .drag-icon, .window.black .toolbar.os .rotate-ccw-icon, .window.black .toolbar.os .rotate-cw-icon, .window.black .toolbar.os .zoom-out-icon, .window.black .toolbar.os .zoom-in-icon { background-image:url(../images/window-fancy/toolbar-icons-os-b.png); }
.toolbar.os .drag-icon {
	width:45px;
	background-position:-140px;
	right:50px;
	cursor:move;
}
.toolbar.os .close-icon {
	right: 0px;
	background-position:-120px top;
}
.toolbar.os .minimize-icon { background-position:-100px top; }
.toolbar.os .expand-icon { background-position:-80px top; }
.toolbar.os .minimize-icon, .os .expand-icon { right: 25px; }
.toolbar.os .zoom-in-icon {
	right:25px;
	background-position:-60px top;
}
.toolbar.os .zoom-out-icon {
	right:50px;
	background-position:-40px top;
}
.toolbar.os .rotate-cw-icon {
	right:75px;
	background-position:-20px top;
}
.toolbar.os .rotate-ccw-icon {
	right:100px;
	background-position:0px top;
}
.withImage .toolbar.os .drag-icon { right:125px; }
.withImage .t-os-l {
	top:-30px;
	left:0px;
}
.withImage .t-os-r { margin-right:10px }
.withImage .toolbar.os { top:0px!important }
.toolbar.os .zoom-in { right:35px; }
.toolbar.os .zoom-out { right:65px; }
.toolbar.os .rotate-cw { right:95px; }
.toolbar.os .rotate-ccw { right:125px; }
/* --- White Window Styling --- */
.window.white { color:#333; }
.window.white .ui-resizable-se { background-image:url("ui-lightness/images/ui-icons_222222_256x240.png") }
.window.white .toolbar.fancy { background:url(../images/window-fancy/toolbar-fancy-w.png) no-repeat; }
.window.white .toolbar.ribbon { background:url(../images/window-fancy/toolbar-ribbon-w.png) no-repeat; }
.window.white .toolbar.os { background:url(../images/window-fancy/toolbar-os-w.png) repeat-x left -30px; }
.window.white .t-os-l { background: url("../images/window-fancy/toolbar-os-w.png") no-repeat scroll left top transparent; }
.window.white .t-os-r { background: url("../images/window-fancy/toolbar-os-w.png") no-repeat scroll right bottom transparent; }
.window.white .w-tbl { background:url(../images/window-fancy/window-corners-w.png) no-repeat left top; }
.window.white .w-tbr { background:url(../images/window-fancy/window-corners-w.png) no-repeat right -40px; }
.window.white .w-tbm { background:url(../images/window-fancy/window-corners-w.png) repeat-x left -20px; }
.window.white .w-tl { background:url(../images/window-fancy/window-corners-w.png) no-repeat left top; }
.window.white .w-tr { background:url(../images/window-fancy/window-corners-w.png) no-repeat right -20px; }
.window.white .w-tm { background:url(../images/window-fancy/window-corners-w.png) repeat-x left -10px; }
.window.white .w-ml { background:url(../images/window-fancy/window-left-w.png) repeat-y left top; }
.window.white .w-mr { background:url(../images/window-fancy/window-right-w.png) repeat-y right top; }
.window.white .w-mm { background:url(../images/window-fancy/window-bg-w.png) repeat; }
.window.white .w-bl { background:url(../images/window-fancy/window-corners-w.png) no-repeat left -60px; }
.window.white .w-br { background:url(../images/window-fancy/window-corners-w.png) no-repeat right bottom; }
.window.white .w-bm { background:url(../images/window-fancy/window-corners-w.png) repeat-x left -80px; }
.white.withImage .w-content { background:url(../images/window-fancy/window-bg-w.png) repeat; }
.white.withImage .image-title {
	background: url(../images/window-fancy/window-bg-w.png) repeat;
	color:#c56d00;
	font-weight:bold;
}
.window.white p {}
.window.white h2.window-heading {border-color:#aaa; color:#FF8D00}
.window.white .inset-right,.window.black .inset-left {border-color:#bbb}
/* --- Black Window Styling --- */
.window.black { color:#fff; }
.window.black .ui-resizable-se { background-image:url("ui-lightness/images/ui-icons_ffffff_256x240.png") }
.window.black .toolbar.fancy { background:url(../images/window-fancy/toolbar-fancy-b.png) no-repeat; }
.window.black .toolbar.ribbon { background:url(../images/window-fancy/toolbar-ribbon-b.png) no-repeat; }
.window.black .toolbar.os { background:url(../images/window-fancy/toolbar-os-b.png) repeat-x left -30px; }
.window.black .t-os-l { background: url("../images/window-fancy/toolbar-os-b.png") no-repeat scroll left top transparent; }
.window.black .t-os-r { background: url("../images/window-fancy/toolbar-os-b.png") no-repeat scroll right bottom transparent; }
.window.black .w-tbl { background:url(../images/window-fancy/window-corners-b.png) no-repeat left top; }
.window.black .w-tbr { background:url(../images/window-fancy/window-corners-b.png) no-repeat right -40px; }
.window.black .w-tbm { background:url(../images/window-fancy/window-corners-b.png) repeat-x left -20px; }
.window.black .w-tl { background:url(../images/window-fancy/window-corners-b.png) no-repeat left top; }
.window.black .w-tr { background:url(../images/window-fancy/window-corners-b.png) no-repeat right -20px; }
.window.black .w-tm { background:url(../images/window-fancy/window-corners-b.png) repeat-x left -10px; }
.window.black .w-ml { background:url(../images/window-fancy/window-left-b.png) repeat-y left top; }
.window.black .w-mr { background:url(../images/window-fancy/window-right-b.png) repeat-y right top; }
.window.black .w-mm { background:url(../images/window-fancy/window-bg-b.png) repeat; }
.window.black .w-bl { background:url(../images/window-fancy/window-corners-b.png) no-repeat left -60px; }
.window.black .w-br { background:url(../images/window-fancy/window-corners-b.png) no-repeat right bottom; }
.window.black .w-bm { background:url(../images/window-fancy/window-corners-b.png) repeat-x left -80px; }
.black.withImage .w-content {
	background:url(../images/window-fancy/window-bg-b.png) repeat;
	border:1px solid #fff;
}
.black.withImage .image-title {
	background: url(../images/window-fancy/window-bg-b.png) repeat;
	color:#fff;
}
.window.black p {color:#eee}
.window.black h2.window-heading {border-color:#777;color:#fff}
.window.black .inset-right,.window.black .inset-left {border-color:#555}
.window.black a {color:#ffc378}
/* --- Grey Window Styling --- */
.window.grey { color:#333; }
.window.grey .ui-resizable-se { background-image:url("ui-lightness/images/ui-icons_222222_256x240.png") }
.window.grey .toolbar.fancy { background:url(../images/window-fancy/toolbar-fancy-g.png) no-repeat; }
.window.grey .toolbar.ribbon { background:url(../images/window-fancy/toolbar-ribbon-w.png) no-repeat; }
.window.grey .toolbar.os { background:url(../images/window-fancy/toolbar-os-w.png) repeat-x left -30px; }
.window.grey .t-os-l { background: url(../images/window-fancy/toolbar-os-w.png) no-repeat scroll left top transparent; }
.window.grey .t-os-r { background: url(../images/window-fancy/toolbar-os-w.png) no-repeat scroll right bottom transparent; }
.window.grey .w-tbl { background:url(../images/window-fancy/window-corners-g.png) no-repeat left top; }
.window.grey .w-tbr { background:url(../images/window-fancy/window-corners-g.png) no-repeat right -40px; }
.window.grey .w-tbm { background:url(../images/window-fancy/window-corners-g.png) repeat-x left -20px; }
.window.grey .w-tl { background:url(../images/window-fancy/window-corners-g.png) no-repeat left top; }
.window.grey .w-tr { background:url(../images/window-fancy/window-corners-g.png) no-repeat right -20px; }
.window.grey .w-tm { background:url(../images/window-fancy/window-corners-g.png) repeat-x left -10px; }
.window.grey .w-ml { background:url(../images/window-fancy/window-left-g.png) repeat-y left top; }
.window.grey .w-mr { background:url(../images/window-fancy/window-right-g.png) repeat-y right top; }
.window.grey .w-mm { background:#e5e5e5; }
.window.grey .w-bl { background:url(../images/window-fancy/window-corners-g.png) no-repeat left -60px; }
.window.grey .w-br { background:url(../images/window-fancy/window-corners-g.png) no-repeat right bottom; }
.window.grey .w-bm { background:url(../images/window-fancy/window-corners-g.png) repeat-x left -80px; }
.grey.withImage .w-content {
	background:#e5e5e5;;
	border:1px solid #fff;
}
.grey.withImage .image-title {
	background:#e5e5e5;;
	color:#333;
}
.window.grey p {color:#333}
.window.grey h2.window-heading {border-color:#fff;}
.window.grey .inset-right,.window.grey .inset-left {border-color:#bbb}

/* --- Forms --- */
input.text, textarea.textarea {
	width:400px;
	padding:5px;
	font-family:inherit;
	font-size:inherit;
	background:none;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.window.white input.text, .window.white textarea.textarea {
	border:1px solid #ccc;
	color:#333;	
}
.window.grey input.text, .window.grey textarea.textarea {
	border:1px solid #777;
	color:#333;	
}
.window.black input.text, .window.black textarea.textarea {
	border:1px solid #fff;
	color:#fff;	
}
input.text.required, textarea.textarea.required { color:#f43b3b!important; }
h4.notification { line-height:50px; }
h4.notification img {
	float:left;
	margin-right:10px;
}
.message-sent {
	background:url(../images/layouts-fancy/message-sent.png) no-repeat;
	display:block;
	float:left;
	width:113px;
	height:50px;
	margin-right:20px;
}
.message-error {
	background:url(../images/layouts-fancy/message-error.png) no-repeat;
	display:block;
	float:left;
	width:110px;
	height:50px;
	margin-right:20px;
}
/*------- Buttons --------*/
.button-l, .button-m, .button {
	display: block;
	height: 30px;
	line-height: 30px;
}
.button-l { display:inline-block; }
.button-l {
	background: url("../images/layouts-fancy/button.png") no-repeat scroll 0 0px transparent;
	padding-left: 10px;
}
.button-m {
	background: url("../images/layouts-fancy/button.png") repeat-x scroll left -30px #C49117;
	margin-right: 10px;
}
.button {
	background: url("../images/layouts-fancy/button.png") no-repeat scroll right -60px transparent;
	border: medium none;
	color: #fff!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0 -10px;
	padding: 0 20px;
	cursor:pointer;
	outline:none;
}
.button-l:hover { background-position:left -90px; }
.button-m:hover { background-position:left -120px; }
.button:hover { background-position:right -150px; }
/* --- Social Icons --- */
#social {
	bottom: -60px;
	position: absolute;
	right: -20px;
}
#social a {
	float: left;
	margin: 0 5px 0 0;
	width:30px;
	text-align:center;
	position:relative;
}
/* --- Footer --- */
#footer {
	bottom: -45px;
	color: #555555;
	font-size: 10px;
	font-weight: bold;
	left: -10px;
	position: absolute;
	background:url(../images/layouts-fancy/footer-border.png) repeat-x bottom left;
	padding-bottom:5px;
}
#footer a { color:#aaa; }
/* --- Ajax Loader --- */
.ajax-loader {
	background:#000;
	border: 1px solid #fff;
	color:#fff;
	display: none;
	height: 20px;
	left: 50%;
	font-size:10px;
	font-weight:bold;
	line-height: 20px;
	margin-left: -40px;
	margin-top: -30px;
	padding: 10px;
	position: absolute;
	top: 100px;
	width: 80px;
	z-index: 6000;
	-webkit-box-shadow:0px 0px 5px 2px #000;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 5px 2px #000;
	-moz-border-radius:5px;
	box-shadow:0px 0px 5px 2px #000;
	border-radius:5px;
}
/* --- Intro --- */
#intro {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
}
.intro-layer {
	position:fixed;
	width:100%;
	height:100%;
	background:#dbf3fe url(../images/layouts-fancy/bg-intro.jpg) no-repeat top;
	display:block;
	left:0px;
	top:0px;
}
.intro-slides {
	font-size:17px;
	font-weight:normal;
	color:#333;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	position:relative;
	text-align:left
}
.intro-control {
	top:0px;
	left:0px;
	text-align:center;
	position:absolute;
	width:700px;
}
.intro-slide {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
	width:700px;
	-moz-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	-webkit-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}
.intro-heading { font-size:52px; color:#ff8d00 }
/*------- Tweets --------*/
ul#tweets {
	padding:0px;
	list-style:none;
}
li.single-tweet {
	border-bottom: 1px dotted #bbb;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
p.tweet-text {
	margin-bottom: 5px;
    margin-top: 0;
}
p.tweet-date {
	font-size: 11px;
    margin: 0;
	text-align:right;
}
a.twUname {
	font-weight:bold;

}