@charset "utf-8";
/* CSS Document */
.menu-link {
	float:left;
	display:block;
}
.menu-ie-wrapper {
	display:block;
	position:absolute;
	top:500px;
	width:100%;
	height:40px;
	line-height:40px;
	padding:1px 0px 3px;
	z-index:5000;
	left:0;
	margin:0px;
	text-align:center;
	background:url(../images/layouts/menu-bg.png) repeat-x left top;
}
#menu {
	display:block;
	position:absolute;
	top:0px;
	height:40px;
	line-height:40px;
	z-index:5000;
	left:50%;
	margin:0px 0px 0px -450px;
	text-align:center;
	background:none;
	overflow:visible;
}
#menu .active a {
	color:#fff;
	font-style:italic;
	background:#464646;
}
p.lp-thumb {
	margin:0px;
	float:left;
	display:block;
	height:0px
}
p.lp-thumb img {
	display:block;
	float:left;
}
p.lp-title {
	margin-top:0px;
	float:left;
	display:block;
	width:100%
}
.c-author {
	float:left;
	margin-top:0px;
}