@charset "utf-8";
/*-------Common Rules--------*/
body {
	background:#000 url(../images/layouts/bg.jpg) no-repeat top;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:13px;
	line-height:1.5em;
	color:#333;
	min-width:800px;
}
p { margin:0px 0px 10px; }
h1, h2, h3, h4, h5, h6 { margin:0px 0px 10px; }
h5 { text-transform:uppercase }
img { border:none }
a {
	text-decoration:none;
	color:#1a7ec8;
	border:none!important;
	outline:none!important;
}
ul, ol {
	margin:0 0 10px;
	padding:0 0 0 20px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
/*-------Headings--------*/
h2.content-heading {
	color:#d61972;
	font-size:34px;
	font-weight:normal;
	line-height:40px;
	margin-bottom:15px;
}
h3.inner-heading {
	font-size:26px;
	font-weight:normal;
	color:#555;
	line-height: 40px;
}
/*-------Menu--------*/
#menu {
	display:block;
	width:900px;
	height:100px;
	background:url(../images/layouts/menu-bg.png) no-repeat left top;
}
ul.menu {
	list-style:none;
	margin:0px;
	padding:0px;
}
.menu > li {
	cursor:pointer;
	min-width:140px;
	display:block;
	height:100px;
	float:left;
	padding:0px 20px;
	background:url(../images/layouts/menu-divider.png) no-repeat right;
	position:relative;
}
#menu a {
	text-align:center;
	color:#fff;
	display:block;
	height:40px;
	position:relative;
	line-height:40px;
	text-shadow:0px 2px 5px #222;
	top:30px;
	font-size:24px;
}
.link-bg {
	display:none;
	width:100%;
	height:100px;
	background:url(../images/layouts/menu-hover.png) repeat-x left top;
	position:absolute;
	left:-4px;
	top:0px;
}
.linkDescr {
	color: #FFFFFF;
    line-height: 16px;
    position: relative;
    width: 140px;
	display:block;
}

/*-------Portfolio--------*/
#portfolio {
	width:978px;
	margin-left:-39px;
	margin-top:0px;
	margin-bottom:-20px;
	color:#fff;
	display:none;
	position:relative;
}
.folio-left,.folio-right {
	position:absolute;
	width:40px;
	height:100px;
	background:url(../images/layouts/arrows.png) no-repeat;
	display:none;
	z-index:0;
	cursor:pointer;
}
.folio-left {
	top:200px;
	left:-30px;
}
.folio-right {
	top:200px;
	right:-30px;
	background-position:right bottom;
}
.portfolio-bg {
	background:url(../images/layouts/portfolio.png) no-repeat;
	height: 89px;
    left: -100px;
    position: absolute;
    top: 270px;
    width: 461px;
	display:none;
}
.folio-top {
	background:url(../images/layouts/folio-top.png) no-repeat top;
	padding-top:40px;
	position:relative;
	z-index:1;
}
.folio-bot {
	background:url(../images/layouts/folio-bot.png) no-repeat bottom;
	padding-bottom:19px;
}
.folio-mid {
	background:url(../images/layouts/folio-mid.png) repeat-y left top;
	padding:5px 39px;
	height:450px;
	overflow:hidden
}
.folio-slides-wrap {
	width:900px;
	height:450px;
	overflow:hidden;
	position:relative
}
.folio-slides {
	width:5000px;
	height:450px;
}
.folio-slide {
	float: left;
    height: 450px;
    margin-right: 40px;
    width: 900px;
	position:relative;
	left:0px;
	top:0px;
}
.folio-item {
	text-align:center;
	width:210px;
	margin:0px 10px;
	float:left;
	margin-bottom:40px;	
}
.folio-item.first {margin-left:0px;}
.folio-item.last {margin-right:0px;}
.folio-title {
	font-size:22px;
	color:#fff;
	font-weight:normal;
}
/*-------Content--------*/
.wrapper {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-top:150px;
}
.main-content {
	width:900px;
	margin-bottom: -80px;
	position:relative;
	z-index:10;
}
.content-wrap {
	background:url(../images/layouts/content-light.png) no-repeat bottom;
	padding-bottom:100px;
	width:900px;
	display:block;
	position:relative;
	z-index:2;
}
.content {
	background:#fff;
	padding:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.main-col {
	width:570px;
	float:left;
	margin-right:10px;
}
.dummy-content {
	display:none;
	padding:40px;
}
/*-------Sidebar--------*/
.sidebar {
	margin-left:10px;
	width:230px;
	float:left;
}
.module {
	margin-bottom:10px;
	position:relative
}
.module-title {
	color: #10a6de;
    font-size: 30px;
	line-height:40px;
	margin-bottom:15px;
	font-weight:normal;
}
/*-------Bottom Modules--------*/
#bottomMods {
	position: relative;
    z-index: 20;
	overflow:hidden
}
#bottomMods .module {
	margin:0px 10px 15px;
	float:left;
	width:210px;
	color:#fff;
}
#bottomMods .module.first {
	margin-left:0px;
}
#bottomMods .module.last {
	margin-right:0px;
}
#bottomMods .module-title {
	color: #ff6ab0;
    font-size: 28px;
	line-height:40px;
	margin-bottom:15px;
	font-weight:normal;
}
#bottomMods a {color:#10A6DE}
#bottomMods .module-title.yellow {color:#ffe720}
/*-------Contacts--------*/
.vcard {

}
.org {
	font-size:24px;
}
.adr {
    margin-bottom: 15px;
    margin-top: 15px;
}
.email {
    font-style: italic;
}
input[type=text] {
	border:1px solid #aaa;
	font-family:inherit;
	padding:5px;
	width:300px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
textarea {
	border:1px solid #aaa;
	font-family:inherit;
	padding:5px;
	width:400px;
	font-size:inherit;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
input[type=submit],a.button {
	background:#10A6DE;
	border:medium none;
	font-family:inherit;
	height:30px;
	font-size:12px;
	font-weight:bold;
	color:#fff!important;
	line-height:30px;
	display:inline-block;
	text-align:center;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:0px 15px;
}
input[type=submit]:hover {
	cursor:pointer;
}
.invalid { border:1px solid red!important; }
.message_status {
	display:none;
	position:absolute;
	top:200px;
}
.message_status h4 {
	font-size:13px!important;
	margin-bottom:0px;
}
/*-------Footer--------*/
.footer {
	color:#fff;
	font-size:12px;
	width:900px;
	line-height:10px;
	background:url(../images/layouts/footer.png) no-repeat top;
	padding:10px 0px;
}
.footer a { color:#fff; }
/*-------Popup Window--------*/
.window {
	position:absolute;
	top:100px;
	left:50%;
	background:#fff;
	display:none;
	z-index:5000;
	padding:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.close {
	cursor:pointer;
	display:none;
	height:34px;
	position:absolute;
	right:-10px;
	top:-10px;
	width:34px;
}
#p-layer {
	display:none;
	background:#000;
	height:100%;
	width:100%;
	left:0px;
	top:0px;
	position:fixed;
	z-index:900;
}
a.close {
	position:absolute;
	right:10px;
	top:10px;
}
/*-------Ajax Loader--------*/
.ajax-loader {
	display:none;
	background:#000 url(../images/layouts/ajax-loader.gif) no-repeat left;
	height:30px;
	left:50%;
	margin-left:-45px;
	position:absolute;
	width:80px;
	line-height:30px;
	z-index:20000;
	padding:5px 0px 5px 40px;
	color:#fff;
	border:1px solid #fff;
	border-radius:5px;
	box-shadow:0px 0px 10px #000;
	-moz-border-radius:5px;
	-moz-box-shadow:0px 0px 10px #000;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0px 0px 10px #000;
}
