@charset "utf-8";
/* Common Rules */
body {
	background:#401515 url(../images/layouts-red/bg.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:13px;
	line-height:1.4em;
	color:#333;
}
#background {
	background:url(../images/layouts-red/bg.jpg) no-repeat top;
	width:1200px;
	height:700px;
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-550px;
	z-index:-1;
}
p { margin:0px 0px 10px; }
.home-content p, .content-mid p, .popup-content p, .dummy-block p { margin:1.4em 0; }
h2.panes-heading {
	font-size:28px;
	color:#fff;
	margin-top:-40px;
	position:absolute;
	left:0px;
	top:0px;
	font-weight:bold;
	line-height:30px;
}
h2.heading {
	font-size:28px;
	font-weight:normal;
	margin-bottom:10px;
	color:#401515;
	line-height:30px;
	background:url(../images/common/heading-border.png) no-repeat left bottom;
	padding-bottom:5px;
}
h1, h2, h3, h4, h5, h6 { margin:0px 0px 10px; }
h5 { text-transform:uppercase }
img { border:none }
a {
	text-decoration:none;
	color:#af4343;
	border:none;
	outline:none;
}
ul, ol {
	margin:1.4em 0;
	padding:0 0 0 15px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
/*----------Logo----------- */
#logo {
	width:540px;
	height:157px;
	background:url(../images/layouts-red/logo.png) no-repeat left top;
	position:absolute;
	top:20px;
	left:0px;
}
/*----------Wrapper----------- */
#wrapper {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	padding-top:250px;
	position:relative;
}
/*----------Date Panes----------- */
#date-panes {
	width:364px;
	height:220px;
	position:absolute;
	left:40px;
	top:220px;
}
.date-pane {
	float:left;
	text-align:center;
	width:108px;
	height:108px;
	position:relative;
}
.bottom-light {
	background:url(../images/layouts-red/date-light.png);
	width:541px;
	height:132px;
	position:absolute;
	bottom:-60px;
	left:-165px;
}
.days, .hours { margin-right:20px; }
.legend {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	left: 0;
	position: absolute;
	top: 110px;
	width: 108px;
}
.day, .hour, .minute {
	background:url(../images/layouts-red/date-pane.png) no-repeat;
	padding:4px;
	width:100px;
	height:100px;
	font-size:36px;
	color:#fff;
	line-height:100px;
	font-weight:bold;
	position:relative;
}
.day2, .hour2, .minute2 {
	position:relative;
}
#date-panes .shadow {
	width:154px;
	height:154px;
	background:url(../images/layouts-red/pane-shadow.png) no-repeat;
	position:absolute;
	top:-10px;
	z-index:-1;
}
.days .shadow { left:-40px; }
.minutes .shadow { right:-40px; }
.hours .shadow { left:-27px; }
.divider {
	position:absolute;
	width:8px;
	height:24px;
	background:url(../images/layouts-red/divider.png);
	left:240px;
	top:45px;
}
/*----------Seconds Ring----------- */
#seconds-block {
	width:320px;
	height:320px;
	position:absolute;
	top:150px;
	left:460px;
}
.rotatr, .rotatr-shadow {
	background:url(../images/layouts-red/ring.png) no-repeat center;
	width:320px;
	height:320px;
	position:absolute;
	left:0px;
	top:0px;
	-moz-transition-timing-function:linear;
	-webkit-transition-timing-function:linear;
	-o-transition-timing-function:linear;
	transition-timing-function:linear
}
.rotatr-shadow {
	background:url(../images/layouts-red/ring-shadow.png) no-repeat center;
	width:338px;
	height:338px;
	left:10px;
	top:10px;
}
.seconds1, .seconds2 {
	color:#fff;
	font-size:28px;
	position:absolute;
	font-weight:bold;
}
.seconds1 {
	left:0px;
	top:-24px;
	display:none;
}
.seconds2 {
	left:300px;
	top:325px;
	display:none;
}
/*---------- Seconds Block Content ----------- */
.seconds-content {
	width:210px;
	position:absolute;
	top:50px;
	left:55px;
	height:200px;
	overflow:visible;
}
.social-links {
	text-align:center;
	margin-bottom:40px;
}
.social-links a {
	width:34px;
	height:34px;
	display:inline-block
}
.learn-more {
	text-align:center;
	margin-bottom:40px;
}
.intouch {
	background:url(../images/layouts-red/input.png) no-repeat left top;
	width:140px;
	height:30px;
	line-height:30px;
	padding:1px 8px 5px;
	border:none;
	font-family: inherit;
	font-size: 11px;
	font-weight: normal;
	color:#333;
	float:left;
}
.intouch.required { color:red; }
.intouch-status {
	display:none;
	color:#fff;
	font-weight:bold;
	margin-left:3px;
}
.intouchTitle {
	color:#fff;
	margin-bottom: 5px;
	margin-left: 3px;
}
.intouch-loader {
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:5px;
	margin-top:-5px;
	margin-left:-5px;
}
a.sendEmail {
	background:url(../images/layouts-red/send-button.png) no-repeat;
	width:46px;
	height:36px;
	display:block;
	float:left;
}
.learn-more a {
	background:url(../images/layouts-red/learn-more.png) no-repeat;
	width:146px;
	height:36px;
	display:inline-block
}
/*---------- Home Content ----------- */
.home-content {
	width:800px;
	position:absolute;
	left:50%;
	margin-left:-400px;
	color:#fff;
	line-height:1.4em;
	top:550px;
}
.home-heading {
	color:#fff;
	font-size:24px;
	background:url(../images/layouts-red/home-heading.png) no-repeat left bottom;
	margin-bottom:15px;
	line-height:46px;
	padding:0px 60px;
}
.home-text { padding:0px 60px; }
.home-content a, .tweets a {
	color:#FFFEB9;
	font-weight:bold;
}
/*---------- Footer ----------- */
.footer {
	background:url(../images/layouts-red/footer-line.png) no-repeat top;
	text-align:center;
	color:#fff;
	padding-top:20px;
	font-size:12px;
	height:43px;
}
.footer p { margin:0; }
/*---------- Forms ----------- */
.button-l {
	background: url("../images/layouts-red/button.png") no-repeat scroll 0 0px transparent;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	border-radius:3px;
	box-shadow:0px 1px 1px #000;
}
.button-m {
	background: url("../images/layouts-red/button.png") repeat-x scroll left -30px #1b8dca;
	display: block;
	height:30px;
	margin-right: 10px;
}
.button {
	background: url("../images/layouts-red/button.png") no-repeat scroll right -60px transparent;
	border: medium none;
	color: #fff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin: 0 -10px;
	padding: 0 20px;
	cursor:pointer;
	outline:none;
}
.button-l:hover { background-position:left -90px; }
.button-m:hover { background-position:left -120px; }
.button:hover { background-position:right -150px; }
div.sendEmail {
	height:40px;
	text-align:center;
	margin-bottom:1.4em;
}
.message-status {
	display:none;
	line-height:40px;
	text-align:left;
}
.contact-status {
	display:none;
	text-align:center;
	padding-top:30px;
}
input.text, textarea.textarea {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #bbb;
	color: #333;
	font-family: inherit;
	font-size: inherit;
	padding: 5px;
	width: 320px;
}
input.required, textarea.required { border-color:red; }
/*---------- Popup Window ----------- */
.dark-layer {
	background:#000;
	position:fixed;
	left:0px;
	top:0px;
	z-index:4000;
	width:100%;
	height:100%;
	display:none;
}
#popup {
	z-index:5000;
	position:absolute;
	top:200px;
	left:50%;
	padding:10px;
	display:none;
}
.popup-content {
	background:#fff;
	padding:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.dummy-block { padding:40px; }
.close-popup {
	position:absolute;
	right:0px;
	top:0px;
	cursor:pointer;
}
/*---------- Features ----------- */
#features {
	background:url(../images/layouts-red/features.png) no-repeat;
	width:200px;
	height:30px;
	position:absolute;
	right:80px;
	top:0px;
	cursor:pointer;
}
/*---------- Slider ----------- */
#slide-prev {
	position:absolute;
	width:30px;
	height:30px;
	background:#000;
	top:150px;
	left:10px;
	z-index:4;
	background:url(../images/layouts-red/sldier-control.png) left top no-repeat;
}
#slide-next {
	position:absolute;
	width:30px;
	height:30px;
	background:#000;
	top:150px;
	right:10px;
	z-index:4;
	background:url(../images/layouts-red/sldier-control.png) right top no-repeat;
}
.slider {
	position:absolute;
	left:50%;
	margin-left:-400px;
	width:800px;
	height:300px;
	top:180px;
	display:none;
}
.slider-shadow {
	background:url(../images/layouts-red/slider-shadow.png) no-repeat bottom;
	width:930px;
	height:170px;
	position:absolute;
	left:-65px;
	top:230px;
	z-index:1;
}
#slider {
	width:800px;
	height:300px;
	position:relative;
	z-index:2
}
.slide { display:none; }
.slide.activeSlide { display:block; }
.dummy-blocks { position:relative; }
#slide-loader .dummy-last {
	display:none;
	position:absolute;
	left:0px;
	top:0px;
}
/*---------- Twitter Feed ----------- */
.tweets {
	position:absolute;
	left:0px;
	top:180px;
	color:#fff;
}
#tweets {
	background:url(../images/layouts-red/twitter.png) no-repeat left top;
	padding-left:50px;
	margin:0px;
	color:#fff;
	list-style:none;
	width:310px;
}
.tweet-text { margin:0; }
.tweet-date {
	font-size:12px;
	font-weight:bold;
	text-align:right;
	margin-bottom:5px;
}
.single-tweet {
	border-bottom:1px dotted #fff;
	margin-bottom:5px;
}
