@charset "utf-8";
/* CSS Document */
/* ---- Common Rules ---- */
body {
	background:#fff;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:13px;
	line-height:1.5em;
	color:#333;
}
#intro {
	background:#fff;
	width:100%;
	position:absolute;
	z-index:5000;
}
.intro-box {
	width:1000px;
	padding-top:50px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
#enter {
	display:block;
	cursor:pointer;
	position:absolute;
	right:20px;
	top:450px;
}
#background {
	background:url(../images/layouts/bg.jpg) no-repeat top left;
	width:100%;
	height:100%;
	display:none;
	position:absolute;
	z-index:100;
	left:0px;
	top:0px;
}
p { margin:0px 0px 10px; }
h1, h2, h3, h4, h5, h6 { margin:0px 0px 10px; }
h5 { text-transform:uppercase }
img { border:none }
a {
	text-decoration:none;
	color:#F85BBB;
}
a, img { outline:none }
ul, ol {
	margin:0 0 10px;
	padding:0 0 0 20px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0;
}
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }
h2.content-heading {
	font-size:29px;
	margin-bottom:15px;
	font-weight:normal
}
h2.inner-heading {
	font-weight:normal;
	font-size:21px;
}
/* ---- Menu ---- */
#menu {
	float:left;
	display:block;
	width:300px;
	margin-left:50px;
	padding-top:100px;
}
.menu {
	list-style:none;
	margin:0px;
	padding:0px;
}
.menu > li {
	display:none;
	height:50px;
	padding-bottom:30px;
	padding-right:10px;
	line-height:50px;
	text-align:right;
	color:#f85bbb;
	font-size:29px;
	background:url(../images/layouts/menu-link.png) no-repeat left top;
	position:relative
}
.menu .home-contacts {
	background:url(../images/layouts/home-contacts.png) no-repeat left top;
	position:relative
}
.menu-contacts {
	left:50px;
	position:absolute;
	top:10px;
}
.menu-home {
	left:210px;
	position:absolute;
	top:8px;
}
.active-link { opacity:1!important; }
.submenu {
	list-style:none outside none;
	position:absolute;
	padding:0px;
	margin:0px;
	left:100%;
	top:0px;
	background:#eaeaea;
	padding:0px 10px;
	display:none;
	z-index:2000
}
.submenu li {
	background:none repeat scroll 0 0 transparent;
	padding:0;
	text-align:left;
	font-size:21px;
	width:200px;
	border-bottom:1px solid #fff
}
/* ---- Content ---- */
#main-content {
	padding-top:150px;
	position:absolute;
	z-index:1000;
	width:1050px;
}
#content {
	background:url(../images/layouts/main-shadow.jpg) no-repeat bottom;
	float:left;
	padding-bottom:380px;
	padding-right:50px;
	display:none;
}
.content-inner {
	width:560px;
	min-height:400px;
	float:left;
	background:#fff;
	margin-left:50px;
	padding:20px;
}
/* ---- Social.Bar ---- */
#social-bar {
	background:url(../images/layouts/bar-bg.png) repeat-y scroll 0 0 transparent;
	height:80px;
	left:30px;
	position:absolute;
	text-align:center;
	top:-100px;
	width:410px;
	overflow:visible;
	border-bottom:1px solid #dcdcdc
}
.bar-heading {
	position:absolute;
	left:50px;
	bottom:-40px;
	cursor:pointer;
	display:none;
}
.bar-icons { padding-top:10px; }
.bar-icons a {
	position:relative;
	color:#fff;
	top:0px;
}
.bar-icons span {
	position:absolute;
	display:none;
	text-align:center;
	width:70px;
	height:20px;
	background:#333;
	left:-10px;
	bottom:-5px;
	z-index:1000
}
img.bar-icon {
	margin-right:5px;
	cursor:pointer;
}
/* ---- Products Section ---- */
#products img { cursor:pointer }
.product {
	display:inline-block;
	float:left;
	width:280px;
	position:relative;
	z-index:500;
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.exposed {
	z-index:3000;
	position:absolute;
}
.p-title {
	font-size:18px;
	font-weight:normal;
	text-align:left;
}
.description {
	display:none;
	text-align:justify
}
#dark-layer {
	background:none repeat scroll 0 0 #000000;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:2000;
	display:none;
}
/* ---- Forms ---- */
input[type=text], textarea {
	border:1px solid #aaa;
	padding:5px;
	background:#fff;
	font-family:inherit;
}
input[type=text].required, textarea.required { border:1px solid #F85BBB; }
.button-l {
	background:url(../images/layouts/button.png) no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:20px;
	line-height:20px;
	padding-left:10px;
}
.button-m {
	background:url(../images/layouts/button.png) repeat-x scroll left -20px transparent;
	display:block;
	height:20px;
	margin-right:10px;
}
input[type=button], input[type=submit], a.button, span.button {
	background:url(../images/layouts/button.png) no-repeat scroll right -40px transparent;
	border:medium none;
	font-family:inherit;
	height:20px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	line-height:20px;
	margin:0 -10px;
	padding:0 10px;
	display:block;
}
.button-l:hover { background-position:0 -60px; }
.button-m:hover { background-position:0 -80px; }
input[type=button]:hover, input[type=submit]:hover, a.button:hover, span.button:hover {
	background-position:right -100px;
	cursor:pointer;
}
#message_status {
	display:none;
	padding:10px;
}
/* ---- Footer ---- */
#footer {
	bottom:350px;
	color:#333;
	font-size:10px;
	font-weight:bold;
	position:absolute;
	left:400px;
	z-index:100;
	display:none;
}
#footer a { color:#333; }
/* ---- Ajax Loader ---- */
.ajax-loader {
	background:#000;
	color:#fff;
	height:50px;
	left:50%;
	margin-left:-40px;
	margin-top:-40px;
	padding:10px;
	position:fixed;
	top:50%;
	width:90px;
	z-index:2000;
	border-radius:10px 0px 10px 0px;
	-moz-border-radius:10px 0px 10px 0px;
	-webkit-border-radius:10px 0px 10px 0px;
}
.ajax-loader h3 {
	font-size:20px;
	font-weight:normal;
	margin-top:10px;
}
/* ---- Popup Window ---- */
#p-layer {
	display:none;
	background:#000;
	height:100%;
	width:100%;
	left:0px;
	top:0px;
	position:fixed;
	z-index:2000;
}
#popup {
	display:none;
	min-width:300px;
	top:50%;
	left:50%;
	z-index:3000;
	position:fixed;
	color:#333;
	padding:15px;
}
.p-mm {
	background:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.p-content { padding:20px; }
a.close {
	position:absolute;
	right:0px;
	top:-0px;
}
#popup iframe { border:none; }
